{% extends 'base.html.twig' %}

{% block title %} Tours By Epic - Hotel Booking Directory Listing Template {% endblock %}

{% block body %}
    <!--  wrapper  -->
    <div id="wrapper">
        <!-- content-->
        <div class="content">
            <!--section -->
            <section class="hero-section" data-scrollax-parent="true" id="sec1">
                <div class="hero-parallax">
                    <div class="slideshow-container" data-scrollax="properties: { translateY: '200px' }" >
                        <!-- slideshow-item -->
                        <div class="slideshow-item">
                            <div class="bg"  data-bg="images/bg/1.jpg"></div>
                        </div>
                        <!--  slideshow-item end  -->
                        <!-- slideshow-item -->
                        <div class="slideshow-item">
                            <div class="bg"  data-bg="images/bg/1.jpg"></div>
                        </div>
                        <!--  slideshow-item end  -->
                        <!-- slideshow-item -->
                        <div class="slideshow-item">
                            <div class="bg"  data-bg="images/bg/1.jpg"></div>
                        </div>
                        <!--  slideshow-item end  -->
                    </div>
                    <div class="overlay op7"></div>
                </div>
                <div class="hero-section-wrap fl-wrap">
                    <div class="container">
                        <div class="home-intro">
                            <h2>Explore {{tours | length  }} Tours to {{ destinations | length }} Destinations</h2>
                            <h3>Let's start exploring the world together with EpicTours</h3>
                        </div>
                        <div class="main-search-input-wrap">
                            <div class="main-search-input fl-wrap">
                                <div class="main-search-input-item location" id="autocomplete-container">
                                    <span class="inpt_dec"><i class="fal fa-map-marker"></i></span>
                                    <input type="text" placeholder="Hotel , City..." class="autocomplete-input" id="autocompleteid2"  value=""/>
                                    <a href="#"><i class="fal fa-dot-circle"></i></a>
                                </div>
                                <div class="main-search-input-item main-date-parent main-search-input-item_small">
                                    <span class="inpt_dec"><i class="fal fa-calendar-check"></i></span> <input type="text" placeholder="When" name="main-input-search"   value=""/>
                                </div>
                                <div class="main-search-input-item">
                                    <div class="qty-dropdown fl-wrap">
                                        <div class="qty-dropdown-header fl-wrap"><i class="fal fa-users"></i> Persons</div>
                                        <div class="qty-dropdown-content fl-wrap">
                                            <div class="quantity-item">
                                                <label><i class="fas fa-male"></i> Adults</label>
                                                <div class="quantity">
                                                    <input type="number" min="1" max="3" step="1" value="1">
                                                </div>
                                            </div>
                                            <div class="quantity-item">
                                                <label><i class="fas fa-child"></i> Children</label>
                                                <div class="quantity">
                                                    <input type="number" min="0" max="3" step="1" value="0">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="main-search-button color2-bg" onclick="window.location.href='listing.html'">Search <i class="fal fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section end -->
            <!--section -->
            <section id="sec2">
                <div class="container">
                    <div class="section-title">
                        <h2>Popular Destinations</h2>
                        <span class="section-separator"></span>
                        <p>Explore some of the best tips from around the city from our partners and friends.</p>
                    </div>
                </div>
                <!-- portfolio start -->
                <div class="gallery-items fl-wrap mr-bot spad home-grid">
                    {% for key, destination in destinations | slice(0, 5) %}
                        <!-- gallery-item-->
                    <div class="gallery-item {{ key == 1 ? 'gallery-item-second' : ''}}" >
                        <div class="grid-item-holder">
                            <div class="listing-item-grid">
                                <a href="{{ path('destination_show', {'id': destination.id}) }}"><img src="images/city/{{ key + 1}}.jpg" alt=""></a>
                                <div class="listing-item-cat">
                                    <div class="listing-counters-holder">
                                        <div class="listing-counters"><span>{{ destination.tours | length }}</span> Tours</div>
                                        <div class="listing-counters"><span>{{ destination.amenities | length }}</span> Amenities</div>
                                    </div>
                                    <h3><a href="{{ path('destination_show', {'id': destination.id}) }}">{{ destination.name }} </a></h3>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- gallery-item end-->
                    {% endfor %}
                </div>
                <!-- portfolio end -->
                <a href="{{ path('destination_index')}} %}" class="btn color-bg">Explore All {{ destinations | length }} Destinations<i class="fas fa-caret-right"></i></a>
            </section>
            <!-- section end -->
            <!-- section-->
            <section class="grey-blue-bg">
                <!-- container-->
                <div class="container">
                    <div class="section-title">
                        <h2>Most Popular Tours</h2>
                        <span class="section-separator"></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.</p>
                    </div>
                </div>
                <div class="listing-item-container init-grid-items fl-wrap mr-bot three-columns-grid">
                    {% for key, tour in tours | slice(0, 3) %}
                    <!-- listing-item  -->
                    <div class="listing-item">
                        <article class="geodir-category-listing fl-wrap">
                            <div class="geodir-category-img">
                                <a href="{{ path('tour_show', {'id': tour.id}) }}"><img src="images/gal//{{ key + 1}}.jpg" alt=""></a>
                                <div class="listing-avatar"><a href="author-single.html"><img src="images/avatar/1.jpg" alt=""></a>
                                    <span class="avatar-tooltip">Added By  <strong>Alisa Noory</strong></span>
                                </div>
                                <div class="geodir-category-opt">
                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                                    <div class="rate-class-name">
                                        <div class="score"><strong>Very Good</strong>27 Reviews </div>
                                        <span>5.0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="geodir-category-content fl-wrap">
                                <div class="geodir-category-content-title fl-wrap">
                                    <div class="geodir-category-content-title-item">
                                        <h3 class="title-sin_map"><a href="{{ path('tour_show', {'id': tour.id}) }}">{{ tour.name }}</a></h3>
                                        <div class="geodir-category-location fl-wrap">
                                            <a href="#0" class="map-item"><i class="fas fa-map-marker-alt"></i> 27th Brooklyn New York, USA</a>
                                        </div>
                                    </div>
                                </div>
                                <p>Sed interdum metus at nisi tempor laoreet. Integer gravida orci a justo sodales.</p>
                                <ul class="facilities-list fl-wrap">
                                    <li><i class="fal fa-wifi"></i><span>Free WiFi</span></li>
                                    <li><i class="fal fa-parking"></i><span>Parking</span></li>
                                    <li><i class="fal fa-smoking-ban"></i><span>Non-smoking Rooms</span></li>
                                    <li><i class="fal fa-utensils"></i><span> Restaurant</span></li>
                                </ul>
                                <div class="geodir-category-footer fl-wrap">
                                    <div class="geodir-category-price">Awg/Night <span>$ 320</span></div>
                                    <div class="geodir-opt-list">
                                        <a href="#0" class="map-item"><i class="fal fa-map-marker-alt"></i><span class="geodir-opt-tooltip">On the map <strong>1</strong></span></a>
                                        <a href="#" class="geodir-js-favorite"><i class="fal fa-heart"></i><span class="geodir-opt-tooltip">Save</span></a>
                                        <a href="#" class="geodir-js-booking"><i class="fal fa-exchange"></i><span class="geodir-opt-tooltip">Find Directions</span></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- listing-item end -->
                    {% endfor %}
                </div>
                <!-- listing-item-container end-->
                <a href="{{ path('tour_index') }}" class="btn color-bg">Explore All {{ tours | length }} Tours<i class="fas fa-caret-right"></i></a>
            </section>
            <!-- section end -->
            <!--section -->
            <section class="">
                <!--container-->
                <div class="container">
                    <div class="section-title">
                        <h2>Most Popular Hotels</h2>
                        <span class="section-separator"></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.</p>
                    </div>
                </div>
                <!-- listing-item-container -->
                <div class="listing-item-container init-grid-items fl-wrap mr-bot three-columns-grid">
                    {% for amenity in amenities | slice(0, 3) %}
                    <!-- listing-item  -->
                    <div class="listing-item">
                        <div class="hotel-card fl-wrap">
                            <div class="geodir-category-img card-post">
                                <a href="{{ path('amenity_show', {'id': amenity.id}) }}"><img src="images/gal/1.jpg" alt=""></a>
                                <div class="listing-counter">Awg/Night <strong>$320</strong></div>
                                <div class="sale-window big-sale">Sale 50%</div>
                                <div class="geodir-category-opt">
                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                                    <h4><a href="{{ path('amenity_show', {'id': amenity.id}) }}">{{ amenity.name }}</a></h4>
                                    <div class="geodir-category-location"><a href="#0" class="map-item"><i class="fas fa-map-marker-alt"></i> {{ amenity.destination.shortname }},
                                        {{ amenity.destination.country.name }}</a></div>
                                    <div class="rate-class-name">
                                        <div class="score"><strong>Very Good</strong>27 Reviews </div>
                                        <span>5.0</span>
                                    </div>
                                    <ul class="facilities-list fl-wrap">
                                        <li><i class="fal fa-wifi"></i><span>Free WiFi</span></li>
                                        <li><i class="fal fa-parking"></i><span>Parking</span></li>
                                        <li><i class="fal fa-smoking-ban"></i><span>Non-smoking Rooms</span></li>
                                        <li><i class="fal fa-utensils"></i><span> Restaurant</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- listing-item end -->
                    {% endfor %}
                </div>
                <!-- listing-item-container end-->
                <a href="{{ path('amenity_index')}} %}" class="btn color-bg">Explore All {{ amenities | length }} Amenities<i class="fas fa-caret-right"></i></a>
            </section>
            <!-- section end -->
        </div>
        <!-- content end-->
    </div>
    <!--wrapper end -->
{% endblock %}
