<footer class="main-footer">
    <!--footer-inner-->
    <div class="footer-inner">
        <div class="container">
            <!--footer-fw-widget-->
            <div class="footer-fw-widget fl-wrap">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-carousel-title">
                            Our partners
                        </div>
                    </div>
                    <div class="col-md-9">
                        <!--footer-carousel-wrap-->
                        <div class="footer-carousel-wrap fl-wrap">
                            <div class="footer-carousel fl-wrap">
                                <!--footer-carousel-item-->
                                <div class="footer-carousel-item">
                                    <a href="#"><img src="{{ asset('images/partners/1.png') }}" alt=""></a>
                                </div>
                                <!--footer-carousel-item end-->
                                <!--footer-carousel-item-->
                                <div class="footer-carousel-item">
                                    <a href="#"><img src="{{ asset('images/partners/2.png') }}" alt=""></a>
                                </div>
                                <!--footer-carousel-item end-->
                                <!--footer-carousel-item-->
                                <div class="footer-carousel-item">
                                    <a href="#"><img src="{{ asset('images/partners/1.png') }}" alt=""></a>
                                </div>
                                <!--footer-carousel-item end-->
                                <!--footer-carousel-item-->
                                <div class="footer-carousel-item">
                                    <a href="#"><img src="{{ asset('images/partners/1.png') }}" alt=""></a>
                                </div>
                                <!--footer-carousel-item end-->
                                <!--footer-carousel-item-->
                                <div class="footer-carousel-item">
                                    <a href="#"><img src="{{ asset('images/partners/1.png') }}" alt=""></a>
                                </div>
                                <!--footer-carousel-item end-->
                                <!--footer-carousel-item-->
                                <div class="footer-carousel-item">
                                    <a href="#"><img src="{{ asset('images/partners/1.png') }}" alt=""></a>
                                </div>
                                <!--footer-carousel-item end-->
                            </div>
                            <div class="fc-cont  fc-cont-prev"><i class="fal fa-angle-left"></i></div>
                            <div class="fc-cont  fc-cont-next"><i class="fal fa-angle-right"></i></div>
                        </div>
                        <!--footer-carousel-wrap end-->
                    </div>
                </div>
            </div>
            <!--footer-fw-widget end-->
            <div class="row">
                <!--footer-widget -->
                <div class="col-md-4">
                    <div class="footer-widget fl-wrap">
                        <h3>About Us</h3>
                        <div class="footer-contacts-widget fl-wrap">
                            <p>In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam. </p>
                            <ul  class="footer-contacts fl-wrap">
                                <li><span><i class="fal fa-envelope"></i> Mail :</span><a href="#" target="_blank">info@toursbyepic.com</a></li>
                                <li> <span><i class="fal fa-map-marker-alt"></i> Adress :</span><a href="#" target="_blank">KIBO TOWER, MOSHI - TANZANIA</a></li>
                                <li><span><i class="fal fa-phone"></i> Phone :</span><a href="#">+255 719 407 787</a></li>
                            </ul>
                            <div class="footer-social">
                                <span>Find us : </span>
                                <ul>
                                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--footer-widget end-->
                <!--footer-widget -->
                <div class="col-md-4">
                    <div class="footer-widget fl-wrap">
                        <h3>Our Last News</h3>
                        <div class="widget-posts fl-wrap">
                            <ul>
                                {% for key, article in injector.articles %}
                                    <li class="clearfix">
                                        <a href="#"  class="widget-posts-img"><img src="{{ asset("images/all/1.jpg") }}" class="respimg" alt=""></a>
                                        <div class="widget-posts-descr">
                                            <a href="#" title="">{{ article.title }}</a>
                                            <span class="widget-posts-date"> 21 Mar 09.05 </span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!--footer-widget end-->
                <!--footer-widget -->
                <div class="col-md-4">
                    <div class="footer-widget fl-wrap">
                        <h3>Our  Twitter</h3>
                        <div id="footer-twiit" class="fl-wrap"></div>
                        <a href="#" class="twitter-link" target="_blank">Follow</a>
                    </div>
                </div>
                <!--footer-widget end-->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--footer-inner end -->
    <div class="footer-bg">
    </div>
    <!--sub-footer-->
    <div class="sub-footer">
        <div class="container">
            <div class="copyright"> &#169; EPIC TOURS LIMITED 2014 - {{ "now"|date("Y") }} .  All rights reserved.</div>
            <div class="subfooter-lang">
                <div class="subfooter-show-lang"><span>Eng</span><i class="fa fa-caret-up"></i></div>
                <ul class="subfooter-lang-tooltip">
                    <li><a href="#">Dutch</a></li>
                    <li><a href="#">Italian</a></li>
                    <li><a href="#">French</a></li>
                    <li><a href="#">Spanish</a></li>
                </ul>
            </div>
            <div class="subfooter-nav">
                <ul>
                    <li><a href="#">Terms of use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--sub-footer end -->
</footer>