<header class="main-header">
    <!-- header-inner-->
    <div class="header-inner fl-wrap">
        <div class="container">
            <!-- nav-button-wrap-->
            <div class="nav-button-wrap color-bg">
                <div class="nav-button">
                    <span></span><span></span><span></span>
                </div>
            </div>
            <!-- nav-button-wrap end-->
            <div class="logo-holder">
                <a href="{{ path('home') }}"><img src="{{ asset('images/logo.png') }}" alt=""></a>
            </div>
            <!--  navigation -->
            <div class="nav-holder main-menu">
                <nav>
                    <ul>
                        <li>
                            <a href="{{ path('home') }}" class="act-link">Home </a>
                        </li>
                        <li>
                            <a href="{{ path('tour_index') }}">Tours </a>
                        </li>
                        <li>
                            <a href="{{ path('amenity_index') }}">Amenities </a>
                        </li>
                        <li>
                            <a href="{{ path('destination_index') }}">Destinations </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- navigation  end -->
        </div>
    </div>
    <!-- header-inner end-->
</header>