{% extends 'base.html.twig' %}

{% block title %}Destinations - Tours By Epic {% endblock %}

{% block body %}
    <!--  wrapper  -->
    <div id="wrapper">
        <!-- content-->
        <div class="content">
            <!--  section  -->
            <section class="parallax-section single-par" data-scrollax-parent="true">
                <div class="bg par-elem "  data-bg="{{ asset('images/bg/1.jpg') }}" data-scrollax="properties: { translateY: '30%' }"></div>
                <div class="overlay"></div>
                <div class="container">
                    <div class="section-title center-align big-title">
                        <h2><span>Destinations</span></h2>
                        <span class="section-separator"></span>
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet fermentum sem.</h4>
                    </div>
                </div>
            </section>
            <!--  section  end-->
            <div class="breadcrumbs-fs fl-wrap">
                <div class="container">
                    <div class="breadcrumbs fl-wrap"><a href="#">Home</a><a href="#">Listings</a><span>Listings Without Map</span></div>
                </div>
            </div>
            <!--section -->
            <section class="grey-blue-bg small-padding" id="sec1">
                <div class="container">
                    <div class="row">
                        <!--listing -->
                        <div class="col-md-12">
                            <div class="mobile-list-controls fl-wrap mar-bot-cont">
                                <div class="mlc show-list-wrap-search fl-wrap"><i class="fal fa-filter"></i> Filter</div>
                            </div>
                            <!--list-wrap-search   -->
                            <div class="list-wrap-search lisfw fl-wrap lws_mobile">
                                <div class="container">
                                    <div class="row">
                                        <!-- col-list-search-input-item -->
                                        <div class="col-md-4">
                                            <div class="col-list-search-input-item in-loc-dec fl-wrap not-vis-arrow">
                                                <label>Country</label>
                                                <div class="listsearch-input-item">
                                                    <select data-placeholder="City" class="chosen-select" >
                                                        <option>All Countries</option>
                                                        {% for country in injector.countries %}
                                                        <option>{{ country.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- col-list-search-input-item end -->
                                        <!-- col-list-search-input-item -->
                                        <div class="col-md-5">
                                            <div class="col-list-search-input-item fl-wrap location autocomplete-container">
                                                <label>Destination</label>
                                                <span class="header-search-input-item-icon"><i class="fal fa-map-marker-alt"></i></span>
                                                <input type="text" placeholder="Destination or Hotel Name" class="autocomplete-input" id="autocompleteid3" value=""/>
                                                <a href="#"><i class="fal fa-dot-circle"></i></a>
                                            </div>
                                        </div>
                                        <!-- col-list-search-input-item end -->
                                        <!-- col-list-search-input-item -->
                                        <div class="col-md-3">
                                            <div class="col-list-search-input-item in-loc-dec date-container  fl-wrap">
                                                <label>Date In-Out </label>
                                                <span class="header-search-input-item-icon"><i class="fal fa-calendar-check"></i></span>
                                                <input type="text"   placeholder="When" name="dates"   value=""/>
                                            </div>
                                        </div>
                                        <!-- col-list-search-input-item end -->
                                    </div>
                                </div>
                            </div>
                            <!--list-wrap-search end -->
                            <!--col-list-wrap -->
                            <div class="col-list-wrap fw-col-list-wrap">
                                <!-- list-main-wrap-->
                                <div class="list-main-wrap fl-wrap card-listing">
                                    <!-- list-main-wrap-opt-->
                                    <div class="list-main-wrap-opt fl-wrap">
                                        <div class="list-main-wrap-title fl-wrap col-title">
                                            <h2>Results For : <span>New York </span></h2>
                                        </div>
                                        <!-- price-opt-->
                                        <div class="price-opt">
                                            <span class="price-opt-title">Sort results by:</span>
                                            <div class="listsearch-input-item">
                                                <select data-placeholder="Popularity" class="chosen-select no-search-select" >
                                                    <option>Popularity</option>
                                                    <option>Average rating</option>
                                                    <option>Price: low to high</option>
                                                    <option>Price: high to low</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- price-opt end-->
                                        <!-- price-opt-->
                                        <div class="grid-opt">
                                            <ul>
                                                <li><span class="two-col-grid act-grid-opt"><i class="fas fa-th-large"></i></span></li>
                                                <li><span class="one-col-grid"><i class="fas fa-bars"></i></span></li>
                                            </ul>
                                        </div>
                                        <!-- price-opt end-->
                                    </div>
                                    <!-- list-main-wrap-opt end-->
                                    <!-- listing-item-container -->
                                    <div class="listing-item-container init-grid-items fl-wrap three-columns-grid">
                                        <!-- listing-item  -->
                                        {% for destination in destinations %}
                                        <div class="listing-item">
                                            <article class="geodir-category-listing fl-wrap">
                                                <div class="geodir-category-img">
                                                    <a href="{{ path('destination_show', {'id': destination.id}) }}"><img src="{{ asset('images/gal/1.jpg') }}" alt=""></a>
                                                    <div class="listing-avatar"><a href="author-single.html"><img src="{{ asset('images/avatar/1.jpg') }}" alt=""></a>
                                                        <span class="avatar-tooltip">Added By  <strong>Alisa Noory</strong></span>
                                                    </div>
                                                    <div class="sale-window">Sale 20%</div>
                                                    <div class="geodir-category-opt">
                                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                                                        <div class="rate-class-name">
                                                            <div class="score"><strong>Very Good</strong>27 Reviews </div>
                                                            <span>5.0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="geodir-category-content fl-wrap title-sin_item">
                                                    <div class="geodir-category-content-title fl-wrap">
                                                        <div class="geodir-category-content-title-item">
                                                            <h3 class="title-sin_map"><a href="{{ path('destination_show', {'id': destination.id}) }}">{{ destination.name }}</a></h3>
                                                            <div class="geodir-category-location fl-wrap"><a href="#" class="map-item"><i class="fas fa-map-marker-alt"></i> {{ destination.country.name }}</a></div>
                                                        </div>
                                                    </div>
                                                    <p>Sed interdum metus at nisi tempor laoreet. Integer gravida orci a justo sodales.</p>
                                                    <ul class="facilities-list fl-wrap">
                                                        <li><i class="fal fa-wifi"></i><span>Free WiFi</span></li>
                                                        <li><i class="fal fa-parking"></i><span>Parking</span></li>
                                                        <li><i class="fal fa-smoking-ban"></i><span>Non-smoking Rooms</span></li>
                                                        <li><i class="fal fa-utensils"></i><span> Restaurant</span></li>
                                                    </ul>
                                                    <div class="geodir-category-footer fl-wrap">
                                                        <div class="geodir-category-price">Awg/Night <span>$ 320</span></div>
                                                        <div class="geodir-opt-list">
                                                            <a href="#" class="single-map-item" data-newlatitude="40.72956781" data-newlongitude="-73.99726866"><i class="fal fa-map-marker-alt"></i><span class="geodir-opt-tooltip">On the map</span></a>
                                                            <a href="#" class="geodir-js-favorite"><i class="fal fa-heart"></i><span class="geodir-opt-tooltip">Save</span></a>
                                                            <a href="#" class="geodir-js-booking"><i class="fal fa-exchange"></i><span class="geodir-opt-tooltip">Find Directions</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        {% endfor %}
                                        <!-- listing-item end -->
                                    </div>
                                    <!-- listing-item-container end-->
                                    <!-- pagination-->
                                    <div class="pagination">
                                        <a href="#" class="prevposts-link"><i class="fa fa-caret-left"></i></a>
                                        <a href="#" >1</a>
                                        <a href="#" class="current-page">2</a>
                                        <a href="#">3</a>
                                        <a href="#">4</a>
                                        <a href="#" class="nextposts-link"><i class="fa fa-caret-right"></i></a>
                                    </div>
                                    <!-- pagination end-->
                                </div>
                                <!-- list-main-wrap end-->
                            </div>
                            <!--col-list-wrap end -->
                        </div>
                        <!--listing  end-->
                    </div>
                    <!--row end-->
                </div>
            </section>
            <!--section end -->
        </div>
        <!-- content end-->
    </div>
    <!--wrapper end -->
{% endblock %}
